* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    direction: rtl;
    scroll-behavior: smooth;
}

#home, #about, #projects, #contact {
    scroll-margin-top: 100px;
}

@font-face {
    font-family: DavidLibre-Regular;
    src: url(fonts/David_Libre/DavidLibre-Regular.ttf);

    font-family: Alef;
    src: url(fonts/Alef/Alef-Regular.ttf);
}

.stiky_nav {
    height: 80px;
    background-color: #b7b7a4;
    position: sticky;
    top: 0; 
    z-index: 100;
    /* background-color: #9d9283; = אופציה לצבע - לבדוק עם מאמי */
}

.protfolio_logo {
    float: left;
    border: 0px solid #000;
    border-radius: 50%;
    margin: 0px -150px 0px 150px;
}

img.protfolio_logo:hover {
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px #000;
}

div.stiky_nav p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    margin: 30px -160px 0px 160px;
}

ul {
    list-style-type: none;
}

div.stiky_nav nav ul li {
    float: right;
    display: block;
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 25px 150px 0px -145px;
    font-size: 1em;
    font-family: DavidLibre-Regular, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0e3d1;
    border: 0px solid #000;
    /* מתלבט האם להוסיף או להוריד את הבורדר - לשאול את מאמי */
    position: relative;
    z-index: 1;
    border-radius: 15px;
}

div.stiky_nav nav ul li:hover {
    transform: scale(0.95);
    position: relative;
    z-index: 2;
    box-shadow: 1px 1px 5px 0px #000;
    cursor: pointer;
}

.stiky_nav nav ul li a{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

span.MainHeader {
    display: block;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    font-family: Alef, Arial, Helvetica, sans-serif;
    background-image: url(images/main_header_background1.jpg);
}

span.MainHeader header {
    font-size: 3em;
    font-weight: bolder;
    padding: 30px;
}

span.MainHeader p {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
    justify-content: center;
    margin: 0 auto;
    width: 1000px;
}

div.AboutMe img {
    display: block;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 15px auto;
}

div.AboutMe h1 {
    font-size: 3em;
    font-family: Alef, Arial, Helvetica, sans-serif;
    text-align: center;
}

div.AboutMe p {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
}

div.AboutMe button {
    font-size: 1em;
    font-family: Alef, Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    padding: 2px;
    background-color: #fff;
    border: 3px outset black;
    border-radius: 5px;
}

div.AboutMe button a {
    text-decoration: none;
    color: black;
}

div.AboutMe button:hover {
    background-color: #dbdbdb;
    transform: scale(0.9);
    cursor: pointer;
    z-index: 1;
}

.containerGrid {
    font-size: 1em;
    font-family: Alef, Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    width: 1000px;
    gap: 20px;
    text-align: center;
    justify-items: center;

}

.containerGrid p {
    width: 300px;
    height: 300px;
}

.containerGrid p:nth-child(odd) {
    background-color: rgb(150, 150, 150);
}

.containerGrid p:nth-child(even) {
    background-color: rgb(200, 200, 200);
}

.containerGrid p:hover {
    transform: scale(0.95);
    box-shadow: 1px 1px 10px 0px;
    z-index: 3;
}

.contact-us{
    font-size: 1em;
    font-family: Alef, Arial, Helvetica, sans-serif;
    padding: 50px 190px 50px 800px;
    background-color: #dbdbdb;
    line-height: 1.5;
}

.contact-us form input{
    width: 250px;
    height: 30px;

}
.contact-us form textarea#main_message{
    font-family: Alef, Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    width: 250px;
    height: 100px;
    white-space: pre-wrap;
    overflow-x: hidden;
    resize: none;
    padding: 5px;
}
.contact-us form button{
    font-size: 1em;
    font-family: Alef, Arial, Helvetica, sans-serif;
    display: block;
    padding: 2px;
    background-color: #fff;
    border: 3px outset black;
    border-radius: 5px;
}

.contact-us form button:hover{
    background-color: #dbdbdb;
    transform: scale(0.9);
    cursor: pointer;
    z-index: 1;
}

.custom-footer {
    background-color: #b7b7a4;
    width: 100%;
    padding: 30px 0;
    font-family: Alef, Arial, sans-serif;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    border-radius: 100%;
}

.footer-item img:hover {
    transform: scale(1.1);
}

.footer-item p {
    margin: 0;
    font-size: 1em;
    color: #000;
}

.footer-bottom p {
    margin: 5px;
    font-size: 0.9em;
    color: #333;
}
